<div id="follow_button">
  <% unless current_user == user %>

      <% if current_user.following?(user) %>

        <%= form_with url: relationship_path(user.id), method: :delete, local: true do |f| %>
          <%= hidden_field_tag :follow_id, user.id %>
          <%= f.submit 'フォロー外す', class: 'btn btn-danger btn-block' %>
        <% end %>


      <% else %>

      <%= form_with model: user, url: relationships_path, method: :post, local: true do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
          <%= f.submit 'フォローする', class: 'btn btn-primary btn-block' %>
        <% end %>


      <% end %>

  <% end %>
</div>