<div class="container">
	<div class="row">
		<%= flash[:danger] %>
		<%= flash[:notice] %>
		<h1 class="text-font">フォロー一覧</h1>
	</div>
	<div class="row">
		<div class="col-md-8">
			<% if @relationships.empty? %>
			フォローは０人です
			<% end %>
		<table class="table">
			<tbody>
				<tr>
					<th>
					</th>
					<th>名前</th>
					<th>紹介文</th>
					<th>フォロー</th>
				</tr>
				<% @relationships.each do |relationship| %>
					<tr>
						<td style="width:8%">
							<%= attachment_image_tag relationship.follow, :profile_img, fallback: "no_img.png", size: "30x30", style:"margin: 0 auto;" %>
						</td>
						<th style="width:15%">
							<%= relationship.follow.nickname %>
						</th>
						<td style="width:60%">
							<%= relationship.follow.profile_text %>
						</td>
						<td>
							<div id="follow_button_<%= relationship.follow_id %>">
								<%= render 'relationships/follow_button', user: relationship.follow %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	</div>
</div>