<div class="container">
	<div class="row">
		<%= link_to "タイムラインへ", posts_path %>
		<h1 class="main_title">ユーザー情報</h1>
		<%= flash[:notice] %>
	</div>
	<div class="row">
		<div class="col-md-4 profile_img">
			<%= attachment_image_tag @user, :profile_img_id, fallback: "no_img.png", size: "200x200" %>
			<%= link_to "編集する", edit_user_path(@user) %>
			<table class="table">
				<tbody>
					<tr>
						<th>お気に入り</th>
						<td><%= link_to @user.likes.count, user_like_path(@user) %>件</td>
					</tr>
					<tr>
						<th>名前</th>
						<td><%= @user.last_name + " " + @user.first_name%></td>
					</tr>
					<tr>
						<th>ニックネーム</th>
						<td><%= @user.nickname %></td>
					</tr>
					<tr>
						<th>紹介文</th>
						<td><%= @user.profile_text %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-8">
			<h3>投稿一覧</h3>
			<%= render 'posts/sake_show', posts: @posts, user: @user %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">

		</div>
	</div>
</div>
