<div class="container main-body">
	<div class="row">
		<%= link_to "タイムラインへ", posts_path, class: "btn btn-success",style: "height:40px;" %>
		<h1 class="main_title text-font">ユーザー情報</h1>
	</div>
	<div class="row">
		<div class="col-md-4 profile_img">
			<%= attachment_image_tag @user, :profile_img, fallback: "no_img.png", size: "200x200", style: "margin-left:60px;" %>
			<table class="table">
				<tbody>
					<tr>
						<td colspan="2">
							<div id="follow_button_<%= @user.id %>">
								<%= render 'relationships/follow_button', user: @user %>
							</div>
						</td>
					</tr>
					<% if @user == current_user %>
						<tr>
							<td colspan="2">
								<% if @user.nickname != "ゲスト" %>
								<%= link_to "編集", edit_user_path(@user), class: "btn btn-primary btn-block"%>
								<% end %>
							</td>
						</tr>
						<tr>
							<th>名前</th>
							<td><%= @user.last_name + " " + @user.first_name%></td>
						</tr>
						<tr>
							<th>ニックネーム</th>
							<td><%= @user.nickname %></td>
						</tr>
						<% else %>
						<tr>
							<th>ニックネーム</th>
							<td><%= @user.nickname %></td>
						</tr>
					<% end %>
					<tr>
						<th>フォロー</th>
						<td>
							<%= link_to @user.relationships.count, user_follow_index_path(@user) %>人
						</td>
					</tr>
					<tr>
						<th>お気に入り</th>
						<td><%= link_to @user.likes.count, user_like_path(@user) %>件</td>
					</tr>
					<tr>
						<th>紹介文</th>
						<td><%= @user.profile_text %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-8">
			<h3 class="text-font">投稿一覧</h3>
			<%= render 'posts/sake_show', posts: @posts, user: @user %>
			<%= paginate @posts, theme: "twitter-bootstrap-4" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">

		</div>
	</div>
</div>
