<% posts.each do |post| %>
		<table class="sake-index box">
			<tbody>
				<tr>
						<th><span class="box-name">投稿者: 
							<%= link_to(user_path(post.user),"data-turbolinks": false, style:"text-decoration: none;" ) do %>
							<%= attachment_image_tag post.user, :profile_img, fallback: "no_img.png", size: "30x30", style: "margin: 0 auto;" %><%= post.user.nickname %>
							<% end %>
							</span>
						</th>
				</tr>
				<tr>
					<th>日本酒名:<%= link_to post.sake_name, post_path(post.id), style: "text-decoration: none;" %></th>
				</tr>
				<tr>
					<td>
						<%= link_to(post_path(post.id)) do %>
						<%= attachment_image_tag post, :sake_img,  size: "300x300" %>
						<% end %>
					</td>
				</tr>
				<tr>
						<td>タグ:<% post.tags.each do |tag| %>
							<%= tag.tag_name %>,
							<% end %>
						</td>
					</tr>
				<tr>
					<td>日本酒度:
						<% if post.sake_degree.nil? %>
						不明
						<% else %>
						<%= post.sake_degree %>
							<% end %>
						</td>
					<!-- いいね機能 -->
					<td><%= render 'likes/like', post: post %></td>
				</tr>
				<tr>
					<td class="img_width"><%= post.sake_text %></td>
				</tr>
			</tbody>
		</table>
		<% end %>