<div class="container">
	<div class="row">
		<h1 class="text-font">フォロータイムライン</h1>
		<%= link_to "全体タイムライン", posts_path, class: "btn-icon", style: "text-decoration: none; margin-top:8px;" %>
		<%= render 'posts/post_button' %>
	</div>
	<div class="row">
		<%= render 'tags/tag_index', tags: @tags %>
	</div>
	<div class="row">
		<% if @posts.empty? %>
		<div class="nil-post text-font">フォローがいません</div>
		<% else %>
		<%= render 'posts/timeline', posts: @posts %>
		<% end %>
	</div>
	<div class="pagination">
	<%= paginate @posts, theme: "twitter-bootstrap-4" %>
    </div>
</div>
