<div class="container">
	<h1 class="text-font">新規投稿</h1>
	<div class="row" style="margin-left: 20%">
		<%= form_with(model: @post, local: true) do |f| %>
		<%= render 'layouts/error_form', model: f.object %>
		<div class="field">
		<%= f.label :画像 %>
		<%= attachment_image_tag @post, :sake_img, fallback: "no_img.png", id: "item-img",size:"250x250" %>
		<%= f.attachment_field :sake_img %>
		</div>
		<div class="field">
		<%= f.label :酒名 %>
		<%= f.text_field :sake_name %>
		</div>
		<div class="field">
		<%= f.label :タグ %>
		<%= f.text_field :tag_name, placeholder: "美味しい 吟醸" %>※2個以上登録の際は半角開けて下さい
		</div>
		<%= f.fields_for :sake_brewery do |i| %> <%# 酒蔵テーブルに保存 %>
		<div class="field">
			<%= i.label :酒蔵名 %>
		<%= i.text_field :brewery_name %>
		</div>
		<div class="field">
			<%= i.label :酒蔵所在地 %>
		<%= i.select :brewery_prefecture, SakeBrewery.brewery_prefectures.keys, {prompt: "--選択してください--"}  %>
		</div>
		<% end %>
		<div class="field">
		<%= f.label :日本酒度 %>
		<%= f.number_field :sake_degree, placeholder: "不明の際は空白" %>
		</div>
		<div class="field">
		<%= f.label :感想 %>
		<%= f.text_area :sake_text %>
		</div>
		<%= f.submit "投稿", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

<script>
	$(document).on("turbolinks:load", function(){
  function readURL(input) {
    if(input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#item-img').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#post_sake_img").change(function(){
    readURL(this);
  });
});
</script>