<!DOCTYPE html>
<html>
  <head>
    <title>SakeSearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
  </head>

  <body>
    <header>
        <%= render 'layouts/header' %>
    </header>
    <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
